//========================================================================================================================================================
.sidebar {
  @include adaptiveValue('min-width', 200, 140, 0, 1920, 1440);
  
  background-color: rgb(255, 255, 255);
  @media (min-width:$mobile){
    min-height: 100%;
  }
  @media (max-width:$mobile){
     height: fit-content; 
  }

  // .sidebar__container-big
  &__container-big {
    padding-top: rem(40);
    padding-bottom: rem(40);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(40);
  }
  // .sidebar__avatar
  &__avatar {
    position: relative;
  }
  // .sidebar__nav
  &__nav {
  }
  // .sidebar__items
  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(12);
  }
  // .sidebar__item
  &__item {
  }
  // .sidebar__link
  &__link {
    font-weight: 500;
    font-size: rem(20);
    position: relative;
    color: $greyColor;
    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: rem(2);
      bottom: 0;
      left: 0;
      background-color: $greyColor;
      transition: all 0.3s;
    }
    &.active {
      color: $mainColor;
      &::after {
        width: 100%;
        background-color: $greenColor;
      }
    }
    @media (any-hover: hover) {
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
}

.avatar-sidebar {
  // .avatar-sidebar__image
  &__image {
    border-radius: 50%;
    max-width: rem(70);
    max-height: 100%;
  }
  // .avatar-sidebar__link
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: rem(4);
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $whiteColor;
    @media (any-hover: hover){
      &:hover{
        svg {
          transform: rotate(-180deg);
        }
      }
    }
    svg {
      transition: transform 0.3s;
      width: rem(20);
      height: rem(20);
    }
  }
}
