.item-order {
  border: 1px solid $greyColor;
  background-color: #eee;
  border-radius: rem(4);
  padding: rem(10);
  gap: rem(10);
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr rem(40);
  
  // .item-order__title
  &__title {
  }
  // .item-order__desc
  &__desc {
  }
  // .item-order__date
  &__date {
  }
  // .item-order__button
  &__button {
    svg {
      width: rem(16);
      height: 100%;
      fill: $greyColor;
      transition: fill 0.3s;
      @media (any-hover: hover) {
        &:hover {
          fill: $redColor;
        }
      }
    }
  }
}
