//========================================================================================================================================================
.item-order {
  position: relative;
  overflow: hidden;
  border: 1px solid $LightGreyColor;
  background-color: $whiteColor;
  border-radius: rem(4);
  padding: rem(10);
  gap: rem(10);
  display: grid;
  align-items: center;
  grid-template-columns: 1fr rem(40) rem(100) rem(200) rem(200) rem(40);
  &::after {
    content: '';
    position: absolute;
    width: rem(40);
    height: 100%;
    top: 0;
    right: 0;
    opacity: 0;
    transition: all 0.3s;
    padding: rem(-20);
    background-color: rgba(207, 216, 220);
  }
  .active & {
    grid-template-columns: rem(40) rem(60) rem(200) rem(20);
  }
  &.selected {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    &::after {
      opacity: 1;
    }
  }

  // .item-order__title
  &__title {
  }
  // .item-order__products
  &__products {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: rem(4);
    font-size: rem(22);
    span {
      font-size: rem(14);
      color: $greyColor;
    }
  }
  // .item-order__date
  &__date {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: rem(4);

    span:nth-child(1) {
      font-size: rem(14);
      color: $greyColor;
    }
  }
  // .item-order__total
  &__total {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: rem(4);

    span:nth-child(1) {
      font-size: rem(14);
      color: $greyColor;
    }
  }
  // .item-order__arrow
  &__arrow {
    position: relative;
    opacity: 0;
    svg {
      position: relative;
      max-width: rem(20);
      height: 100%;
      fill: $whiteColor;
      z-index: 1;
    }
    .selected & {
      opacity: 1;
    }
  }
}
//========================================================================================================================================================
.detail-orders {
  position: relative;

  // .detail-orders__header
  &__header {
    padding: rem(20) rem(20) rem(20) rem(20);
  }
  // .detail-orders__title
  &__title {
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }
  // .detail-orders__list
  &__list {
  }
  // .detail-orders__product-item
  &__product-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: rem(20);
    padding: rem(10) rem(20);
    &::before,
    &::after {
      position: absolute;
      width: 100%;
      left: 0;
      background-color: $LightGreyColor;
      height: rem(1);
    }
    &:first-child {
      &::before {
        content: '';
        top: 0;
      }
    }
    &:not(:last-child) {
      &::after {
        content: '';
        bottom: 0;
      }
    }
  }
}
.product-orders {
  display: flex;
  // .product-orders__dot
  &__dot {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: rem(10);
      height: rem(10);
      border-radius: 50%;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $greyColor;
    }
    &.active {
      &::before {
        background-color: $greenColor;
      }
    }
  }
  // .product-orders__image
  &__image {
    width: rem(40);
    height: min-content;
  }
  // .product-orders__title
  &__title {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: rem(4);
    span {
      font-size: rem(14);
      color: $greyColor;
    }
  }

}
