.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: rem(30) rem(10);
  transition: all 0.3s ease 0s;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  z-index: 20;
  &.open {
    visibility: visible;
    overflow: auto;
    pointer-events: auto;
    opacity: 1;
    transform: scale(1);
  }
  // .popup__wrapper

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // .popup__content
  &__content {
    position: relative;
    visibility: hidden;
    transform: scale(0);
    transition: transform 0.3s ease 0s;
    background-color: #eee;
    width: 100%;
    max-width: rem(800);
    border-radius: rem(4);
    .open & {
      visibility: visible;
      transform: scale(1);
    }
  }
  // .popup__title
  &__title {
    font-weight: 500;
    font-size: rem(24);
    padding: rem(20);
  }
  // .popup__item
  &__item {
    padding: rem(20);
  }
  // .popup__actions
  &__actions {
    border-radius: rem(0) rem(0) rem(4) rem(4);
    background-color: $greenColor;
    padding: rem(20) rem(40);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: rem(20);
  }
}
.item-popup {
  display: flex;
  align-items: center;
  gap: rem(40);

  position: relative;
  // .item-popup__image
  &__image {
    max-width: 100%;
    max-height: rem(50);
  }
  // .item-popup__title
  &__title {

  }
  // .item-popup__dot
  &__dot {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: rem(10);
      height: rem(10);
      border-radius: 50%;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $greyColor;
    }
    &.active {
      &::before {
        background-color: $greenColor;
      }
    }
  }
}
