.orders {
  // .orders__container-big
  &__container-big {
    @include adaptiveValue('padding-left', 40, 15);
  }
  // .orders__container
  &__container {
    margin: 0;
    @include adaptiveValue('padding-top', 60, 30);
  }
  // .orders__title
  &__title {
    &:not(:last-child) {
      margin-bottom: rem(40);
    }
  }
  // .orders__body
  &__body {
    padding-bottom: rem(20);
    &.active {
      display: flex;
      align-items: flex-start;
      gap: rem(10);
    }
  }
  // .orders__items
  &__items {
    

  }
  // .orders__item
  &__item {
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }
  // .orders__detail
  &__detail {
    border: 1px solid $LightGreyColor;
    background-color: $whiteColor;
    border-radius: rem(4);
    width: 100%;
  }
}
