.products {
  min-width: 100%;
  // .products__container-big
  &__container-big {
    @include adaptiveValue('padding-left', 40, 15);
  }
  // .products__container
  &__container {
    margin: 0;
    @include adaptiveValue('padding-top', 60, 30);
    padding-bottom: rem(20);
    min-width: 100%;
  }
  // .products__header
  &__header {
    display: flex;
    gap: rem(40);
    &:not(:last-child) {
      margin-bottom: rem(40);
    }
    @media (min-width: $mobile) {
      align-items: center;
    }
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }
  // .products__items
  &__items {
    overflow: auto;
    display: grid;
    gap: rem(10);

    padding-bottom: rem(20);
  }
  // .products__item
  &__item {
  }
}
.header-products {
  // .header-products__title
  &__title {
    min-width: rem(220);
  }
  // .header-products__select
  &__select {
  }
}
.select {
  // .select__label
  &__label {
    margin-right: rem(10);
  }
  // .select__body
  &__body {
    background-color: $whiteColor;
    padding: rem(8);
    border-radius: rem(8);
    min-width: rem(120);
    option{
      padding: rem(40) ;
    }
  }
}
