// Page ========================================================================================================================================================
.page {
  @media (min-width: $mobile) {
    display: grid;
    grid-template-columns: auto 1fr;
  }

  // .page__sidebar
  &__sidebar {
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
  }
  // .page__orders
  &__orders {
    // position: relative;
    overflow: auto;
  }
  // .page__products
  &__products {
  }
}
// Title ========================================================================================================================================================
.title {
  @include adaptiveValue('font-size', 32, 24);
  font-weight: 500;
}
.title-small {
  display: flex;
  flex-direction: column;
  gap: rem(4);
  span {
    &:not(:last-child) {
      text-decoration: underline;
      text-decoration-color: $LightGreyColor;
    }
    &:last-child {
      font-size: rem(14);
      color: $greyColor;
    }
  }
}

//========================================================================================================================================================
// Preloader animation ========================================================================================================================================================
.preloader {
  animation: 1s linear 0s normal none infinite running rotation;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
//========================================================================================================================================================

