// Page ========================================================================================================================================================

.page {
  display: grid;
  grid-template-columns: auto 1fr;
  // .page__sidebar
  &__sidebar {
  }
  // .page__orders
  &__orders {
  }
  // .page__products
  &__products {
  }
}
// Title ========================================================================================================================================================
.title {
  @include adaptiveValue('font-size', 32, 24);
  font-weight: 500;
}


//========================================================================================================================================================
// Preloader animation ========================================================================================================================================================
.preloader {
  animation: 1s linear 0s normal none infinite running rotation;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
//========================================================================================================================================================
