@use 'sass:math';

// Підключення міксинів ===========================================================================================================================================================================================================================================================================
@import 'base/mixins';

// Підключення шрифтів ===========================================================================================================================================================================================================================================================================
//&display=swap
@import url('https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700,800,900&display=swap');
// За замовчуванням шрифт ==============================================================================================================================================================================================================================================================================
$fontFamily: 'Poppins';
$fontSize: rem(18);

// Основні кольори
$mainColor: #000000; // Колір шрифту за замовчуванням
$whiteColor: #ffffff;
$greyColor: #686767;
$greenColor: rgb(131, 188, 71);
$redColor: #860d0d;

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1920;
// Загальний відступ у контейнера
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: em($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: em(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: em(767.98); // Телефони L
$mobileSmall: em(479.98); // Телефони S
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнулення ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import 'base/null';

// Стилі тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================

body {
  background-color: rgb(200, 200, 200);
}

// Оболонка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  // Притискаємо footer
  > main {
    flex: 1 1 auto;
  }
  // Фікс для слайдерів
  > * {
    min-width: 0;
  }
}
// Обмежуючий контейнер ======================================================================================================================================================================================================================
[class*='__container'] {
  max-width: rem(1420);
  margin: 0 auto;
}
[class*='__container-big'] {
  @if ($maxWidthContainer>0) {
    max-width: rem($maxWidthContainer);
    box-sizing: content-box;
    margin: 0 auto;
  }
  @if ($containerPadding>0) {
    padding: 0 rem(math.div($containerPadding, 2));
  }
}
//========================================================================================================================================================

@import './global';

// Components ========================================================================================================================================================
@import './components/navigationMenu';
@import './components/orders';
@import './components/products';
@import './components/topMenu';
@import './components/ui/popup';

// Pages ========================================================================================================================================================
@import './pages/ordersPage';
@import './pages/productsPage';